[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
SQLAlchemy = "*"
nltk = "*"
sklearn = "*"
flask = "*"
plotly = "*"
joblib = "*"
requests = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.9"
