[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
SQLAlchemy = "*"
nltk = "*"
sklearn = "*"
flask = "*"
plotly = "*"
joblib = "*"
requests = "*"
matplotlib = "*"
tensorflow = "2.3"
mlflow = "*"
numpy = "*"


[dev-packages]
notebook = "*"

[requires]
python_version = "3.8"
